body{
    font-family: 'Roboto';
    margin: auto;
}

.hero
{
    
    background-color: #1f2937 ;
    color: #e5e7eb;
    padding: 16px 240px;
    height: 550px;
}

.hero h1
{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero p
{
    font-size: 18px;
    color: #e5e7eb;
}

.nav-bar
{
    
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links
{
    list-style-type: none;
    display:flex;
    gap: 24px;
    font-size: 18px;
}

.nav-links a
{
    text-decoration: none;  
    color: #e5e7eb;
}

.hero-content
{
    display: flex;
    align-items: center;
    height: 300px;
    padding: 75px 0;
    gap: 80px;
}

.hero-content .column .right
{
    flex: 60%;
}

.left h1
{
    margin-bottom: -16px;
}

.right
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    width: 100%;
    height: 80%;
}

.hero-content button
{
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    color:#e5e7eb;
    padding: 12px 36px;
    border: 0;
    border-radius: 12px;
}

.information
{
    padding: 20px 360px;
}

h2
{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
}

.information
{
    display: flex;
    justify-content: space-between;
    gap: 48px;
    padding-bottom: 240px;
}

.info
{
    text-align: center;
    font-size: 18px;
    color: #1f2937;
}

.image-illustration
{
    border: solid 4px;
    border-color: #3882f6;
    border-radius: 12px;
    height: 150%;
}

.quote
{
    display: flex;
    flex-direction: column;
    padding: 100px 348px;
    background-color: #e5e7eb;
    color: #1f2937;
}

blockquote
{
    
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    margin-bottom: 0px;
    
}

.quote p
{
    font-size: 18px;
    font-weight: bold;
    color: #1f2937;
    text-align: end;
    padding-right: 48px;
}

.cta
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882f6;
    margin: 64px 240px;
    border-radius: 6px;
    padding: 24px 128px;
}

.cta-text
{
    color: #f9faf8;
}

.cta-text h3
{
    font-size: 24px;
    margin-bottom: -12px;
}

.cta-text p
{
    font-size: 18px;
}

.cta-button button
{
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    background-color: #3882f6;
    border: 3px solid #f9faf8;
    border-radius: 12px;
    padding: 6px 32px;
}

.footer
{
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 12px 0;
}